<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <table border="1" align="center">
    <tr>
    <th>Loan</th>
    <th>Mobile</th>
<th>Internet</th>
<th>water</th>
<th><tr>Gas</th>
<th>Electricity
    </th>
  </tr>
    <tr *ngFor="let ExpenceInter of expencomponent">
    <td>{{ExpenceInter.loan}}</td>
    <td>{{ExpenceInter.mobile}}</td>
    <td>{{ExpenceInter.internet}}</td>
    <td>{{ExpenceInter.water}}</td>
    <td>{{ExpenceInter.gas}}</td>
    <td>{{ExpenceInter.electricity}}</td>
  </tr>
  </table>
  <form>
      
<p><input type="text" name="loan" [(ngModel)]="newExpence.loan" placeholder="Loan Amount" ></p>
<p><input type="text" name="mobile" placeholder="Mobile Amount" [(ngModel)]="newExpence.mobile"></p>
<p><input type="text" name="internet" placeholder=" Internet Amount" [(ngModel)]="newExpence.internet"></p>
<p><input type="text" name="water" placeholder="Water Amount" [(ngModel)]="newExpence.water"></p>
<p><input type="text" name="gas" placeholder="Gas Amount" [(ngModel)]="newExpence.gas"></p>
<p><input type="text" name="electricity" placeholder="Electricity Amount" [(ngModel)]="newExpence.electricity"></p>
<button (click)="saveExpence(newExpence)">Submit
</button>



  </form>
</div>


